@page "/products"
@inherits ProductsBase

<PageTitle>Produtos</PageTitle>

<table class="table">
        <thead>
            <tr>
                <th>Nome do produto</th>
                <th>Preço do produto</th>
                <th>Departamento</th>
                <th>Quantidade em estoque</th>
                <th>Data de criação</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @* @foreach (var forecast in forecasts)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            } *@
        </tbody>
    </table>